
mat-card{
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    position: absolute;
    right: 50px;
    top: -15px;
}

.header{
    text-align: center;
}

.full-width{
    width: 80%;
}

.button-row{
    padding-top: 10px;
}

.button-row a{
    margin-right: 8px;
    text-align:center;
}

.forgot-password{
   padding-left: 100px;
   float: right;
   
}

.emailInput{
    padding-top: 10px;
}

.contentBody{
    padding: 60px 1rem;
    background:#1b6ca8;
    display: block;
}

.aLink{
    float:right;
    padding-right: 60px;
    text-decoration: none;
}

.login-btn{
    width:50%;
    min-width: unset!important;

}


.register {
    float: left;
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
    font-size: small;
}