<div class="example-table-container" ><br>
  <mat-card-header>
      <mat-card-title class="matcardtitle" >Hospital User List</mat-card-title>
  </mat-card-header>

  <mat-form-field class="matformfield1" >
     <mat-label>Search1</mat-label>
     <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
 

  <table class="table table-bordered">
    <thead class="thead">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>FirstName</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>ContactNumber</th>
        <th>Gender</th>
        <th>DateOfBirth</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let user of userDetails">
        <td>{{user.id}}</td>
        <td>{{user.title}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contactNumber}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.dateOfBirth}}</td>
      </tr>
    </tbody>
  </table>
</div>